@font-face {
	font-family: 'Arial';
	font-style: normal;
}

.rmp-info {
	margin-top: 10px;
	text-align: center;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 14px;
	border: 2px solid #B3D237;
	padding: 5px;
}
